name: workflow-test

on:
  workflow_dispatch:

permissions:
  contents: read
  actions: write

jobs:
  call-reusable-1:
    uses: ./.github/workflows/reusable-1.yml
    with:
      environment_target: 'uat'

  call-reusable-2:
    needs: call-reusable-1
    uses: ./.github/workflows/reusable-2.yml
    with:
      environment_target: 'uat'