name: workflow-test

on:
  workflow_dispatch:


permissions:
  contents: read
  actions: write

jobs:
  step-uat-1:
    uses: ./.github/workflows/reusable-1.yml

  step-uat-2:
    uses: ./.github/workflows/reusable-2.yml