name: workflow-test

on:
  workflow_dispatch:

permissions:
  contents: read
  actions: write

jobs:
  call-reusable-1:
    uses: ./.github/workflows/reusable-1.yml
    with:
      environment_target: 'uat'

  print_output:
    runs-on: ubuntu-latest
    needs: call-reusable-1
    steps:
      - run: echo "Output from reusable: ${{ needs.call-reusable-1.outputs.super_secret }}"

  call-reusable-2:
    needs: call-reusable-1
    uses: ./.github/workflows/reusable-2.yml
    with:
      environment_target: 'uat'