name: workflow-test

on:
  workflow_dispatch:


permissions:
  contents: read
  actions: write

jobs:
  job-uat-1:
    runs-on: ubuntu-latest
    environment: 'uat'
    steps:
      - uses: actions/checkout@v4
      
      - name: "reusable-1"
        uses: ./.github/workflows/reusable-1.yml

      - name: "reusable-2"
        uses: ./.github/workflows/reusable-2.yml